<!DOCTYPE html>
<html>

<div th:fragment="self-info">

    <form id="nickname-form" method="post" th:action="@{/member/nickname/update}">
        <label for="nickname">닉네임</label>
        <div sec:authentication="principal.nickname"></div>

        <input type="hidden" name="targetId" th:value="${#authentication.principal.getId()}">
        <input id="nickname" name="nickname" th:required="true" type="text">

        <button form="nickname-form" type="submit">닉네임 수정</button>
    </form>

</div>

</html>