services:
  member_management_db:
    container_name: mm_db
    image: mysql:latest
    ports:
      - 8090:3306
    environment:
      MYSQL_ROOT_PASSWORD: 99999999
      MYSQL_DATABASE: mm_db
      MYSQL_USER: mm_server
      MYSQL_PASSWORD: 00000000
    volumes:
      - MMDB:/var/lib/mysql
  member_management_session:
    container_name: mm_session
    image: redis:latest
    ports:
      - 8070:6379

  member_management_server:
    container_name: mm_server
    image: ggomg/mysite:latest
    ports:
      - 80:8080
    depends_on:
      - member_management_db
    restart: on-failure

volumes:
  MMDB: