services:
  member_management_server:
    container_name: MM_SERVER
    image: ggomg/mysite:latest
    ports:
      - 443:8080

  member_management_db:
    container_name: MM_DB
    image: mysql:latest
    ports:
      - 8090:3306
    environment:
      MYSQL_ROOT_PASSWORD: 99999999
      MYSQL_DATABASE: mm_db
      MYSQL_USER: mm_server
      MYSQL_PASSWORD: 00000000
    volumes:
      - MMDB:/var/lib/mysql

volumes:
  MMDB: