<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="myInfo">
    Authenticated username:
    <p sec:authentication="name"></p>
    <br>

    Authenticated nickname:
    <p sec:authentication="principal.nickname"></p>
    <br>



    Authenticated user roles:
    <p sec:authentication="principal.authorities"></p>
    <br>

    principal:
    <p sec:authentication="principal"></p>
    <br>

    model attribute
    <p th:text="${info}"></p>

    <a href="/logout">로그아웃</a>
</div>

</html>