spring:
  config:
    activate:
      on-profile: dev
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/basicauth_user?serverTimezone=Asia/Seoul
    username: root
    password: 11111111

  jpa:
    hibernate:
      ddl-auto:
    properties:
      hibernate:
        show_sql: true
        format_sql: false
        use_sql_comments: false
        generate_statistics: true

---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://member_management_db:3306/mm_db?serverTimezone=Asia/Seoul
    username: mm_server
    password: 00000000
  jpa:
    hibernate:
      ddl-auto: none