spring:
  config:
    activate:
      on-profile: dev

  thymeleaf:
    cache: false
    check-template-location: true

  devtools:
    livereload:
      enabled: true

logging:
  level:
#    web: debug
    org.springframework.security: trace
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace

---
spring:
  config:
    activate:
      on-profile: prod

  thymeleaf:
    cache: false
    check-template-location: true

  devtools:
    livereload:
      enabled: false

