<!DOCTYPE html>
<html>>

<div class="local-form-container" th:fragment="register_form">

    <h2>Local 계정 가입</h2>

    <div class="local-form-box">

        <form class="local-form" id="register-form" method="post" th:action="@{/register/local}">
            <label for="username">아이디</label>
            <input id="username" name="username" placeholder="4자 이상 16자 이하/영문숫자" th:required="true" type="text">
            <label for="password">비밀번호</label>
            <input id="password" name="password" placeholder="8자 이상 32자 이하" th:required="true" type="password">
            <label for="nickname">닉네임</label>
            <input id="nickname" name="nickname" placeholder="16자 이하" th:required="true" type="text">
            <button class="register-form-submit-button" form="register-form" type="submit">회원가입</button>
        </form>

    </div>

    <div th:if="${param.error}">
        <p id="register-fail">
            <span th:if="${errorField == 'username'}">아이디는 4자 이상 16자 이하이며, 영문, 숫자만 사용할 수 있습니다.</span>
            <span th:if="${errorField == 'password'}">비밀번호는 8자 이상 32자 이하여야 합니다.</span>
            <span th:if="${errorField == 'nickname'}">닉네임은 1자이상 16자 이하이며, 특수문자 사용이 불가능합니다.</span>
            <span th:if="${errorCode == 201}">중복된 아이디입니다.</span>
            <span th:if="${errorCode == 202}">중복된 닉네임입니다.</span>
        </p>
    </div>

</div>

</html>