<!DOCTYPE html>
<html>>

<div th:fragment="register_form" class="local-form-container">

    <h2>Local 계정 가입</h2>

    <div class="local-form-box">

        <form class="local-form" id="register-form" th:action="@{/register/local}" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" th:required="true">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" th:required="true">
            <label for="password">닉네임</label>
            <input type="text" id="nickname" name="nickname" th:required="true">
            <button class="register-form-submit-button" form="register-form" type="submit">Login</button>
        </form>

    </div>

</div>

</html>