<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div class="is-authenticated" th:fragment="is-authenticated">
    <ul sec:authorize="!isAuthenticated()">
        <li><a th:href="@{/login}">로그인</a></li>
        <li><a th:href="@{/register/local}">회원가입</a></li>
    </ul>

    <ul sec:authorize="isAuthenticated()">
        <li><a th:href="@{/member/myPage}">
            <div sec:authentication="principal.nickname"></div>
        </a></li>
        <li><a th:href="@{/logout}">로그아웃</a></li>
    </ul>
</div>

</html>