<!DOCTYPE html>
<html>

<div id="member-list" th:fragment="member-list">
    <table class="tb tb_col">
        <colgroup>
            <col style="width:50px;"/>
            <col style="width:7.5%;"/>
            <col style="width:auto;"/>
            <col style="width:10%;"/>
            <col style="width:15%;"/>
            <col style="width:7.5%;"/>
        </colgroup>

        <thead>
        <tr>
            <th scope="col"><input id="masterCheckbox" type="checkbox"/></th>
            <th scope="col">ID</th>
            <th scope="col">isOauth</th>
            <th scope="col">authType</th>
            <th scope="col">oauthId</th>
            <th scope="col">nickname</th>
            <th scope="col">username</th>
            <th scope="col">createdDate</th>
            <th scope="col">memberRoles</th>
        </tr>
        </thead>

        <tbody>
        </tbody>

    </table>
</div>

</html>
