@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: inherit;
}

html {
    height: 100%;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > .container h1 {
    margin-left: 10px;
}

header > .container > .is-authenticated > ul {
    display: flex;
}

header > .container > .is-authenticated > ul li {
    padding: 10px;
}

nav > .container {
    display: flex;
    align-items: center;
    text-align: center;
    background: #4c555e;
    font-size: 28px;

    color: white;
}

nav > .container > ul {
    display: flex;
}

nav > .container > ul li {
    padding: 10px;
}

body {
    height: 100%;
}

body > section {
    height: 100%;
    display: flex;
    flex-direction: column;
}
