<!DOCTYPE html>
<html layout:decorate="~{layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:fragment="title">
        Login
    </title>
</head>
<body>
<section layout:fragment="content">
    <div class="center-container">
        <div th:replace="~{/contents/login/_login-oauth2 :: login-oauth2}"></div>
        <div th:replace="~{/contents/login/_login-form :: login-form}"></div>
        <div><h3><a href="/register/local">회원가입</a></h3></div>
    </div>
</section>
</body>
</html>