<!DOCTYPE html>
<html>

<div class="local-form-container" th:fragment="login-form">

    <h2>Local 계정 로그인</h2>

    <div class="local-form-box">

        <form class="local-form" id="login-form" method="post" th:action="@{login}">
            <label for="username">Username</label>
            <input autofocus="autofocus" id="username" name="username" th:required="true" type="text"/>
            <label for="password">Password</label>
            <input id="password" name="password" th:required="true" type="password"/>

            <button class="form-submit-button" form="login-form" type="submit">Login</button>
        </form>

    </div>

</div>
</html>